::-moz-selection {
  background: #1dd1a1;
}

::selection {
  background: #1dd1a1;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #090A0E;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1dd1a1;
  border-radius: 10px;
}

body{
  font-family: 'Montserrat';
  background-color: #191c24;
  color: #efecec;
  font-weight: 500;
  font-size: 19px;
  line-height: 175%;
}

h1{
  color: inherit;
  font-family: bely-display, sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
}

h2{
  font-family: bely-display, sans-serif;
  font-size: 50px;
}

h3{
  font-family: bely-display, sans-serif;
  font-size: 40px;
  top: 20px;
  left: 40px;
}

h4{
  font-family: bely-display, sans-serif;
  font-size: 30px;
  top: 20px;
  left: 40px;
}

a{
  color: #efecec;
}

a:hover{
  color: inherit;
  border-bottom: 2px solid #1dd1a1;
  transition: 0.3s;
}

.small{
  line-height: 150%;
}

.projects{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.btn-outline-success{
  color: #1dd1a1;
  border: 1px solid #1dd1a1;
}

.btn-outline-success:hover, .btn-outline-success:active{
  color: #fff;
  border: 1px solid #1dd1a1;
  background-color: #1dd1a1;
}

.btn-outline-secondary{
  color: #c2c2c2;
  border: 1px solid #c2c2c2;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active{
  color: #fff;
  border: 1px solid #c2c2c2;
  background-color: #c2c2c2;
}

.resume-link{
  font-weight: 600;
}

.footer-link{
  font-size: 30px;
  transition: 0.3s;
}

.underlined-dash{
  border-bottom: 2px dashed #1dd1a1;
}

.no-hover-underline:hover{
  border: none;
  color: #1dd1a1;
}

.text-muted{
  color: #1dd1a1 !important;
}
